@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="actionLink nav-link">
        @Html.ActionLink("Welcome, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "actionLink nav-link" })
    </li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "actionLink nav-link nav-item mr-sm-2" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item mr-sm-2">
            <a class="nav item actionLink nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                Logout
            </a>
        </li>
    }
}
else
{
    <li class="nav-item mr-sm-2">@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "actionLink nav-link" })</li>
    <li class="nav-item mr-sm-2">@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "actionLink nav-link" })</li>
}
