@using NewsSystem.Models.ViewModels

@model  IEnumerable<ArticleViewModel>
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_TopArticlesPartial");
@Html.Partial("_AllCategoriesPartitial");


@*<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Category</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">Articles: <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>a</li>
            <li>b</li>
            <li>c</li>
            <li>d</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Button</button>
    </div>*@
